scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/xsd/ticketBaiResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:T="urn:ticketbai:emision" targetNamespace="urn:ticketbai:emision" xmlns:xsd="http://www.w3.org/2001/XMLSchema">                
	<xsd:element name="TicketBaiResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Salida" type="T:Salida" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Salida">
		<xsd:sequence>
			<xsd:element name="IdentificadorTBAI" type="T:IdentificadorTBAIType" minOccurs="0" maxOccurs="1" />
			<xsd:element name="FechaRecepcion" type="T:FechaHoraType" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Estado" type="T:EstadoType" minOccurs="1" maxOccurs="1" />
            <xsd:element name="Descripcion" type="T:TextMax250Type" minOccurs="1" />
            <xsd:element name="Azalpena" type="T:TextMax250Type" minOccurs="1" />
			<xsd:element name="ResultadosValidacion" type="T:ResultadosValidacion" minOccurs="0" maxOccurs="unbounded" />
			<xsd:element name="CSV" type="T:TextMax40Type" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResultadosValidacion">
		<xsd:sequence>
			<xsd:element name="Codigo" type="T:CodigoType" minOccurs="1" />
			<xsd:element name="Descripcion" type="T:TextMax250Type" minOccurs="1" />
			<xsd:element name="Azalpena" type="T:TextMax250Type" minOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="TextMax250Type">
		<xsd:restriction base="string">
			<xsd:maxLength value="250" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TextMax40Type">
		<xsd:restriction base="string">
			<xsd:maxLength value="40" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EstadoType">
		<xsd:restriction base="string">
			<xsd:maxLength value="20" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CodigoType">
		<xsd:restriction base="string">
			<xsd:length value="3" />
			<xsd:pattern value="[0-9]*">				
			</xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>	
	<xsd:simpleType name="IdentificadorTBAIType">
		<xsd:restriction base="string">
			<xsd:length value="39" />
		</xsd:restriction>
	</xsd:simpleType>	
	<xsd:simpleType name="FechaHoraType">
		<xsd:restriction base="string">
			<xsd:length value="19" />
			<xsd:pattern value="\d{2,2}-\d{2,2}-\d{4,4} \d{2,2}:\d{2,2}:\d{2,2}" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>