scu-es/src/fiskaltrust.Middleware.SCU.ES.TicketBAI.Common/xsd/ticketBaiV1-2-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:T="urn:ticketbai:emision"
	targetNamespace="urn:ticketbai:emision" elementFormDefault="qualified"
	attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#"
		schemaLocation="http://www.w3.org/TR/xmldsig-core/xmldsig-core-schema.xsd" />

	<xs:element name="TicketBai" type="T:TicketBaiType" />

	<xs:complexType name="TicketBaiType">
		<xs:sequence>
			<xs:element name="Cabecera" type="T:Cabecera" />
			<xs:element name="Sujetos" type="T:Sujetos" />
			<xs:element name="Factura" type="T:Factura" />
			<xs:element name="HuellaTBAI" type="T:HuellaTBAI" />
			<xs:element ref="ds:Signature" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Cabecera">
		<xs:sequence>
			<xs:element name="IDVersionTBAI" type="T:IDVersionTicketBaiType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Sujetos">
		<xs:sequence>
			<xs:element name="Emisor" type="T:Emisor" />
			<xs:element name="Destinatarios" type="T:Destinatarios" minOccurs="0" />
			<xs:element name="VariosDestinatarios" type="T:SiNoType" minOccurs="0" />
			<xs:element name="EmitidaPorTercerosODestinatario" type="T:EmitidaPorTercerosType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Emisor">
		<xs:sequence>
			<xs:element name="NIF" type="T:NIFType" />
			<xs:element name="ApellidosNombreRazonSocial" type="T:TextMax120ObligatorioType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Destinatarios">
		<xs:sequence>
			<xs:element name="IDDestinatario" type="T:IDDestinatario" minOccurs="1" maxOccurs="100" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IDDestinatario">
		<xs:sequence>
			<xs:choice>
				<xs:element name="NIF" type="T:NIFType" />
				<xs:element name="IDOtro" type="T:IDOtro" />
			</xs:choice>
			<xs:element name="ApellidosNombreRazonSocial" type="T:TextMax120Type" />
			<xs:element name="CodigoPostal" type="T:TextMax20Type" minOccurs="0" />
			<xs:element name="Direccion" type="T:TextMax250Type" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="IDOtro">
		<xs:sequence>
			<xs:element name="CodigoPais" type="T:CountryType2" minOccurs="0" />
			<xs:element name="IDType" type="T:IDTypeType" />
			<xs:element name="ID" type="T:TextMax20Type" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="Factura">
		<xs:sequence>
			<xs:element name="CabeceraFactura" type="T:CabeceraFacturaType" />
			<xs:element name="DatosFactura" type="T:DatosFacturaType" />
			<xs:element name="TipoDesglose" type="T:TipoDesgloseType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CabeceraFacturaType">
		<xs:sequence>
			<xs:element name="SerieFactura" type="T:TextMax20Type" minOccurs="0" />
			<xs:element name="NumFactura" type="T:TextMax20ObligatorioType" />
			<xs:element name="FechaExpedicionFactura" type="T:FechaType" />
			<xs:element name="HoraExpedicionFactura" type="T:HoraType" />
			<xs:element name="FacturaSimplificada" type="T:SiNoType" minOccurs="0" />
			<xs:element name="FacturaEmitidaSustitucionSimplificada" type="T:SiNoType" minOccurs="0" />
			<xs:element name="FacturaRectificativa" type="T:FacturaRectificativaType" minOccurs="0" />
			<xs:element name="FacturasRectificadasSustituidas"
				type="T:FacturasRectificadasSustituidasType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FacturaRectificativaType">
		<xs:sequence>
			<xs:element name="Codigo" type="T:ClaveTipoFacturaType" />
			<xs:element name="Tipo" type="T:ClaveTipoRectificativaType" />
			<xs:element name="ImporteRectificacionSustitutiva"
				type="T:ImporteRectificacionSustitutivaType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImporteRectificacionSustitutivaType">
		<xs:sequence>
			<xs:element name="BaseRectificada" type="T:ImporteSgn12.2Type" />
			<xs:element name="CuotaRectificada" type="T:ImporteSgn12.2Type" />
			<xs:element name="CuotaRecargoRectificada" type="T:ImporteSgn12.2Type" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatosFacturaType">
		<xs:sequence>
			<xs:element name="FechaOperacion" type="T:FechaType" minOccurs="0" />
			<xs:element name="DescripcionFactura" type="T:TextMax250ObligatorioType" />
			<xs:element name="DetallesFactura" type="T:DetallesFacturaType" minOccurs="0" />
			<xs:element name="ImporteTotalFactura" type="T:ImporteSgn12.2Type" />
			<xs:element name="RetencionSoportada" type="T:ImporteSgn12.2Type" minOccurs="0" />
			<xs:element name="BaseImponibleACoste" type="T:ImporteSgn12.2Type" minOccurs="0" />
			<xs:element name="Claves" type="T:ClavesType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DetallesFacturaType">
		<xs:sequence>
			<xs:element name="IDDetalleFactura" type="T:IDDetalleFacturaType" minOccurs="1"
				maxOccurs="1000" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IDDetalleFacturaType">
		<xs:sequence>
			<xs:element name="DescripcionDetalle" type="T:TextMax250ObligatorioType" />
			<xs:element name="Cantidad" type="T:ImporteSgn12.8Type" />
			<xs:element name="ImporteUnitario" type="T:ImporteSgn12.8Type" />
			<xs:element name="Descuento" type="T:ImporteSgn12.8Type" minOccurs="0" />
			<xs:element name="ImporteTotal" type="T:ImporteSgn12.8Type" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClavesType">
		<xs:sequence>
			<xs:element name="IDClave" type="T:IDClaveType" minOccurs="1" maxOccurs="3" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IDClaveType">
		<xs:sequence>
			<xs:element name="ClaveRegimenIvaOpTrascendencia"
				type="T:IdOperacionesTrascendenciaTributariaType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FacturasRectificadasSustituidasType">
		<xs:sequence>
			<xs:element name="IDFacturaRectificadaSustituida"
				type="T:IDFacturaRectificadaSustituidaType" minOccurs="1" maxOccurs="100" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IDFacturaRectificadaSustituidaType">
		<xs:sequence>
			<xs:element name="SerieFactura" type="T:TextMax20Type" minOccurs="0" />
			<xs:element name="NumFactura" type="T:TextMax20ObligatorioType" />
			<xs:element name="FechaExpedicionFactura" type="T:FechaType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TipoDesgloseType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="DesgloseFactura" type="T:DesgloseFacturaType" />
				<xs:element name="DesgloseTipoOperacion" type="T:DesgloseTipoOperacionType" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DesgloseTipoOperacionType">
		<xs:sequence>
			<xs:element name="PrestacionServicios" type="T:PrestacionServicios" minOccurs="0" />
			<xs:element name="Entrega" type="T:Entrega" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrestacionServicios">
		<xs:sequence>
			<xs:element name="Sujeta" type="T:SujetaType" minOccurs="0" />
			<xs:element name="NoSujeta" type="T:NoSujetaType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Entrega">
		<xs:sequence>
			<xs:element name="Sujeta" type="T:SujetaType" minOccurs="0" />
			<xs:element name="NoSujeta" type="T:NoSujetaType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DesgloseFacturaType">
		<xs:sequence>
			<xs:element name="Sujeta" type="T:SujetaType" minOccurs="0" />
			<xs:element name="NoSujeta" type="T:NoSujetaType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SujetaType">
		<xs:sequence>
			<xs:element name="Exenta" type="T:ExentaType" minOccurs="0" />
			<xs:element name="NoExenta" type="T:NoExentaType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoSujetaType">
		<xs:sequence>
			<xs:element name="DetalleNoSujeta" type="T:DetalleNoSujeta" minOccurs="1" maxOccurs="4" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DetalleNoSujeta">
		<xs:sequence>
			<xs:element name="Causa" type="T:CausaNoSujetaType" />
			<xs:element name="Importe" type="T:ImporteSgn12.2Type" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ExentaType">
		<xs:sequence>
			<xs:element name="DetalleExenta" type="T:DetalleExentaType" minOccurs="1" maxOccurs="7" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DetalleExentaType">
		<xs:sequence>
			<xs:element name="CausaExencion" type="T:CausaExencionType" />
			<xs:element name="BaseImponible" type="T:ImporteSgn12.2Type" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoExentaType">
		<xs:sequence>
			<xs:element name="DetalleNoExenta" type="T:DetalleNoExentaType" minOccurs="1"
				maxOccurs="2" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DetalleNoExentaType">
		<xs:sequence>
			<xs:element name="TipoNoExenta" type="T:TipoOperacionSujetaNoExentaType" />
			<xs:element name="DesgloseIVA" type="T:DesgloseIVAType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DesgloseIVAType">
		<xs:sequence>
			<xs:element name="DetalleIVA" type="T:DetalleIVAType" minOccurs="1" maxOccurs="12" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DetalleIVAType">
		<xs:sequence>
			<xs:element name="BaseImponible" type="T:ImporteSgn12.2Type" />
			<xs:element name="TipoImpositivo" type="T:Tipo3.2Type" minOccurs="0" />
			<xs:element name="CuotaImpuesto" type="T:ImporteSgn12.2Type" minOccurs="0" />
			<xs:element name="TipoRecargoEquivalencia" type="T:Tipo3.2Type" minOccurs="0" />
			<xs:element name="CuotaRecargoEquivalencia" type="T:ImporteSgn12.2Type" minOccurs="0" />
			<xs:element name="OperacionEnRecargoDeEquivalenciaORegimenSimplificado"
				type="T:SiNoType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EncadenamientoFacturaAnteriorType">
		<xs:sequence>
			<xs:element name="SerieFacturaAnterior" type="T:TextMax20Type" minOccurs="0" />
			<xs:element name="NumFacturaAnterior" type="T:TextMax20ObligatorioType" />
			<xs:element name="FechaExpedicionFacturaAnterior" type="T:FechaType" />
			<xs:element name="SignatureValueFirmaFacturaAnterior" type="T:TextMax100ObligatorioType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HuellaTBAI">
		<xs:sequence>
			<xs:element name="EncadenamientoFacturaAnterior"
				type="T:EncadenamientoFacturaAnteriorType" minOccurs="0" />
			<xs:element name="Software" type="T:SoftwareFacturacionType" />
			<xs:element name="NumSerieDispositivo" type="T:TextMax30Type" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SoftwareFacturacionType">
		<xs:sequence>
			<xs:element name="LicenciaTBAI" type="T:TextMax20ObligatorioType" />
			<xs:element name="EntidadDesarrolladora" type="T:EntidadDesarrolladoraType" />
			<xs:element name="Nombre" type="T:TextMax120ObligatorioType" />
			<xs:element name="Version" type="T:TextMax20ObligatorioType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntidadDesarrolladoraType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="NIF" type="T:NIFType" />
				<xs:element name="IDOtro" type="T:IDOtro" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="NIFType">
		<xs:annotation>
			<xs:documentation>IFZ: 9 zifrako edo letrako segida - NIF: Secuencia de 9 dígitos o
				letras</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9" />
			<xs:pattern
				value="(([a-z|A-Z]{1}\d{7}[a-z|A-Z]{1})|(\d{8}[a-z|A-Z]{1})|([a-z|A-Z]{1}\d{8}))" />
		</xs:restriction>
		<!-- ([A-Z]|\d){9} -->
	</xs:simpleType>
	<xs:simpleType name="FechaType">
		<xs:restriction base="xs:string">
			<xs:length value="10" />
			<xs:pattern value="\d{2,2}-\d{2,2}-\d{4,4}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="HoraType">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{2,2}:\d{2,2}:\d{2,2}" />
		</xs:restriction>
	</xs:simpleType>
	<!-- Tipo de 6 dígitos (3+2) "." como separador decimal -->
	<xs:simpleType name="Tipo3.2Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{1,3}(\.\d{0,2})?" />
		</xs:restriction>
	</xs:simpleType>
	<!-- Importe de 15 dígitos (12+2) "." como separador decimal -->
	<xs:simpleType name="ImporteSgn12.2Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\+|-)?\d{1,12}(\.\d{0,2})?" />
		</xs:restriction>
	</xs:simpleType>
	<!-- Importe de 20 dígitos (12+8) "." como separador decimal -->
	<xs:simpleType name="ImporteSgn12.8Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\+|-)?\d{1,12}(\.\d{0,8})?" />
		</xs:restriction>
	</xs:simpleType>
	<!-- Cadena de 20 caracteres -->
	<xs:simpleType name="TextMax20Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>
	<!-- Cadena de 20 caracteres obligatorio-->
	<xs:simpleType name="TextMax20ObligatorioType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\s*[^\s]\s*)+"></xs:pattern>
			<xs:minLength value="1" />
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>
	<!-- Cadena de 30 caracteres -->
	<xs:simpleType name="TextMax30Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>
	<!-- Cadena de 100 caracteres obligatorio-->
	<xs:simpleType name="TextMax100ObligatorioType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\s*[^\s]\s*)+"></xs:pattern>
			<xs:minLength value="1" />
			<xs:maxLength value="100" />
		</xs:restriction>
	</xs:simpleType>
	<!-- Cadena de 120 caracteres -->
	<xs:simpleType name="TextMax120Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="120" />
		</xs:restriction>
	</xs:simpleType>
	<!-- Cadena de 120 caracteres obligatorio-->
	<xs:simpleType name="TextMax120ObligatorioType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\s*[^\s]\s*)+"></xs:pattern>
			<xs:minLength value="1" />
			<xs:maxLength value="120" />
		</xs:restriction>
	</xs:simpleType>
	<!-- Cadena de 250 caracteres -->
	<xs:simpleType name="TextMax250Type">
		<xs:restriction base="xs:string">
			<xs:maxLength value="250" />
		</xs:restriction>
	</xs:simpleType>
	<!-- Cadena de 250 caracteres obligatorio-->
	<xs:simpleType name="TextMax250ObligatorioType">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\s*[^\s]\s*)+"></xs:pattern>
			<xs:minLength value="1" />
			<xs:maxLength value="250" />
		</xs:restriction>
	</xs:simpleType>
	<!--  IDTicketBaiBertsioa - IDVersionTicketBai -->
	<xs:simpleType name="IDVersionTicketBaiType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1.2" />
		</xs:restriction>
	</xs:simpleType>
	<!--  Egoitza herrialdeko identifikazio motak - Tipos de identificación en el país de residencia -->
	<xs:simpleType name="IDTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="02">
				<xs:annotation>
					<xs:documentation>IFZ BEZ - NIF IVA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="03">
				<xs:annotation>
					<xs:documentation>Pasaportea - Pasaporte</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="04">
				<xs:annotation>
					<xs:documentation>Egoitza dagoen herrialdeak edo lurraldeak emandako nortasun
						agiri ofiziala - Documento oficial de identificación expedido por el país o
						territorio de residencia</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="05">
				<xs:annotation>
					<xs:documentation>Egoitza ziurtagiria - Certificado de residencia</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="06">
				<xs:annotation>
					<xs:documentation>Beste frogagiri bat - Otro documento probatorio</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!-- Zuzentzeko fakturaren kodea - Código de factura rectificativa -->
	<xs:simpleType name="ClaveTipoFacturaType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="R1">
				<xs:annotation>
					<xs:documentation>Faktura zuzentzailea: zuzenbidean oinarritutako akatsa eta
						BEZaren Foru Arauaren 80.artikuluko Bat, Bi eta Sei - Factura rectificativa:
						error fundado en derecho y Art. 80 Uno, Dos y Seis de la Norma Foral del IVA </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="R2">
				<xs:annotation>
					<xs:documentation>Faktura zuzentzailea: BEZari buruzko Foru Arauko 80.
						artikuluko Hiru - Factura rectificativa: artículo 80 Tres de la Norma Foral
						del IVA </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="R3">
				<xs:annotation>
					<xs:documentation>Faktura zuzentzailea: BEZari buruzko Foru Arauko 80.
						artikuluko Lau - Factura rectificativa: artículo 80 Cuatro de la Norma Foral
						del IVA </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="R4">
				<xs:annotation>
					<xs:documentation>Faktura zuzentzailea: Gainerakoak - Factura rectificativa:
						Resto </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="R5">
				<xs:annotation>
					<xs:documentation>Faktura zuzentzailea faktura erraztuetan - Factura
						rectificativa en facturas simplificadas </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!-- Faktura zuzentzaile mota - Tipo de factura rectificativa -->
	<xs:simpleType name="ClaveTipoRectificativaType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="S">
				<xs:annotation>
					<xs:documentation>Ordezkatzeagatiko faktura zuzentzailea - Factura rectificativa
						por sustitución</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="I">
				<xs:annotation>
					<xs:documentation>Ezberdintasunengatiko faktura zuzentzailea - Factura
						rectificativa por diferencias</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!-- BEZaren araudi bereziaren gakoa eta zerga garrantziadun eragiketak - Clave de régimen
	especial de IVA y operaciones con trascendencia tributaria -->
	<xs:simpleType name="IdOperacionesTrascendenciaTributariaType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="01">
				<xs:annotation>
					<xs:documentation>Erregimen orokorreko eragiketa eta hurrengo balioetan jaso
						gabe dagoen beste edozein kasu - Operación de régimen general y cualquier
						otro supuesto que no esté recogido en los siguientes valores</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="02">
				<xs:annotation>
					<xs:documentation>Esportazioa - Exportación</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="03">
				<xs:annotation>
					<xs:documentation>Erabilitako ondasunen, arte objektuen, zaharkinen eta bilduma
						objektuen araudi berezia aplikatzen zaien eragiketak - Operaciones a las que
						se aplique el régimen especial de bienes usados, objetos de arte,
						antigüedades y objetos de colección</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="04">
				<xs:annotation>
					<xs:documentation>Inbertsio urrearen araubide berezia - Régimen especial del oro
						de inversión</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="05">
				<xs:annotation>
					<xs:documentation>Bidaia-agentzien araubide berezia - Régimen especial de las
						agencias de viajes</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="06">
				<xs:annotation>
					<xs:documentation>BEZeko erakundeen multzoaren araudi berezia (maila aurreratua)
						- Régimen especial grupo de entidades en IVA (Nivel Avanzado)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="07">
				<xs:annotation>
					<xs:documentation>Kutxa-irizpidearen araubide berezia - Régimen especial del
						criterio de caja</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="08">
				<xs:annotation>
					<xs:documentation>Ekoizpen, Zerbitzu eta Inportazioaren gaineko Zergari /
						Kanarietako Zeharkako Zerga Orokorrari lotutako eragiketak - Operaciones
						sujetas al IPSI/IGIC (Impuesto sobre la Producción, los Servicios y la
						Importación / Impuesto General Indirecto Canario)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="09">
				<xs:annotation>
					<xs:documentation>Besteren izenean eta kontura ari diren bidai agentziek
						egindako zerbitzuen fakturazioa(Fakturazio Araudiko 3. xedapen gehigarria) -
						Facturación de las prestaciones de servicios de agencias de viaje que actúan
						como mediadoras en nombre y por cuenta ajena (disposición adicional 3ª del
						Reglamento de Facturación)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="10">
				<xs:annotation>
					<xs:documentation>Hirugarrenen kontura kobratzea ordainsari profesionalak edo
						jabetza industrialetik eratorritako eskubideak, egilearenak edo bazkideen,
						bazkideen edo elkargokideen kontura kobratzeko eginkizun horiek betetzen
						dituzten sozietate, elkarte, elkargo profesional edo bestelako erakundeek
						egindakoak - Cobros por cuenta de terceros o terceras de honorarios
						profesionales o de derechos derivados de la propiedad industrial, de autor u
						otros por cuenta de sus socios, socias, asociados, asociadas, colegiados o
						colegiadas efectuados por sociedades, asociaciones, colegios profesionales u
						otras entidades que realicen estas funciones de cobro</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="11">
				<xs:annotation>
					<xs:documentation>Negozio lokala errentatzeko eragiketak, atxikipenari lotuak -
						Operaciones de arrendamiento de local de negocio sujetos a retención</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="12">
				<xs:annotation>
					<xs:documentation>Negozio lokala errentatzeko eragiketak, atxikipenari lotu
						gabeak - Operaciones de arrendamiento de local de negocio no sujetos a
						retención</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="13">
				<xs:annotation>
					<xs:documentation>Negozio lokala errentatzeko eragiketak, atxikipenari lotuak
						eta lotu gabeak - Operaciones de arrendamiento de local de negocio sujetas y
						no sujetas a retención</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="14">
				<xs:annotation>
					<xs:documentation>Hartzailea administrazio publiko bat denean ordaintzeke dauden
						BEZdun fakturak, obra ziurtagirietakoak - Factura con IVA pendiente de
						devengo en certificaciones de obra cuyo destinatario sea una Administración
						Pública</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="15">
				<xs:annotation>
					<xs:documentation>Segidako traktuko eragiketetan ordaintzeke dagoen BEZdun
						faktura - Factura con IVA pendiente de devengo en operaciones de tracto
						sucesivo</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="17">
				<xs:annotation>
					<xs:documentation>IX. tituluko XI. kapituluan aurreikusitako araubideren bati
						atxikitako eragiketa (OSS eta IOSS) - Operación acogida a alguno de los
						regímenes previstos en el Capítulo XI del Título IX (OSS e IOSS)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="19">
				<xs:annotation>
					<xs:documentation>Nekazaritza, abeltzaintza eta arrantzaren araubide berezian
						dauden jardueren eragiketak (NAAAB) - Operaciones de actividades incluidas
						en el Régimen Especial de Agricultura, Ganadería y Pesca (REAGYP)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="51">
				<xs:annotation>
					<xs:documentation>Baliokidetasun errekarguko eragiketak - Operaciones en recargo
						de equivalencia</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="52">
				<xs:annotation>
					<xs:documentation>Erregimen erraztuko eragiketak - Operaciones en régimen
						simplificado</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="53">
				<xs:annotation>
					<xs:documentation>BEZaren ondorioetarako enpresari edo profesionaltzat jotzen ez
						diren pertsona edo erakundeek egindako eragiketak - Operaciones realizadas
						por personas o entidades que no tengan la consideración de empresarios,
						empresarias o profesionales a efectos del IVA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="54">
				<xs:annotation>
					<xs:documentation>Kanarietan, Ceutan eta Melillan kokatutako establezimendu
						iraunkorretatik egindako eragiketak - Operaciones realizadas desde
						Establecimientos Permanentes situados en Canarias, Ceuta y Melilla</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!--  Lotutako eta salbuetsitako eragiketen salbuesteko kausa - Causa de exención de operaciones
	sujetas y exentas  -->
	<xs:simpleType name="CausaExencionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="E1">
				<xs:annotation>
					<xs:documentation>BEZaren Foru Arauaren 20. artikuluak salbuetsia - Exenta por
						el artículo 20 de la Norma Foral del IVA </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="E2">
				<xs:annotation>
					<xs:documentation>BEZaren Foru Arauaren 21. artikuluak salbuetsia - Exenta por
						el artículo 21 de la Norma Foral del IVA </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="E3">
				<xs:annotation>
					<xs:documentation>BEZaren Foru Arauaren 22. artikuluak salbuetsia - Exenta por
						el artículo 22 de la Norma Foral del IVA </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="E4">
				<xs:annotation>
					<xs:documentation>BEZaren Foru Arauaren 23. eta 24. artikuluek salbuetsia -
						Exenta por el artículo 23 y 24 de la Norma Foral del IVA </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="E5">
				<xs:annotation>
					<xs:documentation>BEZaren Foru Arauaren 25. artikuluak salbuetsia - Exenta por
						el artículo 25 de la Norma Foral del IVA </xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="E6">
				<xs:annotation>
					<xs:documentation>Beste arrazoi bategatik salbuetsia - Exenta por otra causa</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!-- Salbuetsi gabeko mota - Tipo no exenta -->
	<xs:simpleType name="TipoOperacionSujetaNoExentaType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="S1">
				<xs:annotation>
					<xs:documentation>Subjektu pasiboaren inbertsiorik gabe - Sin inversión del
						sujeto pasivo</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="S2">
				<xs:annotation>
					<xs:documentation>Subjektu pasiboaren inbertsioarekin - Con inversión del sujeto
						pasivo</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!-- Hirugarren batek edo hartzaileak emandako faktura - Factura emitida por tercero o tercera o
	por destinatario o destinataria  -->
	<xs:simpleType name="EmitidaPorTercerosType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation>Hartzaileak berak emandako faktura - Factura emitida por el
						propio emisor o emisora</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="T">
				<xs:annotation>
					<xs:documentation>Hirugarren batek egindako faktura - Factura emitida por
						tercero o tercera</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation>Eragiketaren hartzaileak emandako faktura - Factura emitida
						por el destinatario o la destinataria de la operación</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SiNoType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="S" />
			<xs:enumeration value="N" />
		</xs:restriction>
	</xs:simpleType>
	<!--  Ez lotzearen arrazoia - Causa de no sujeción -->
	<xs:simpleType name="CausaNoSujetaType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OT">
				<xs:annotation>
					<xs:documentation>BEZaren Foru Arauaren 7. artikuluak lotu gabea Lotu gabeko
						beste kasu batzuk - No sujeto por el artículo 7 de la Norma Foral de IVA
						Otros supuestos de no sujeción</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RL">
				<xs:annotation>
					<xs:documentation>Lokalizazio arauengatik lotu gabe - No sujeto por reglas de
						localización</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VT">
				<xs:annotation>
					<xs:documentation>Ez subjektua, hirugarrenen kontura egindako salmentak (BEZaren
						eta PFEZaren ondorioetarako konputagarria ez den zenbatekoa) - No sujeto,
						ventas realizadas por cuenta de terceros (importe no computable a efectos de
						IVA ni de IRPF)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IE">
				<xs:annotation>
					<xs:documentation>Lokalizazio-arauak direla-eta ZALen subjektua ez dena, baina
						atzerriko zerga, IPS/IGIC edo EBko beste estatu kide bateko BEZa eragiten
						duena - No sujeto en el TAI por reglas de localización, pero repercute
						impuesto extranjero, IPS/IGIC o IVA de otro estado miembro UE</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!-- Herrialdearen kodea - Código de país -->
	<xs:simpleType name="CountryType2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AF" />
			<xs:enumeration value="AL" />
			<xs:enumeration value="DE" />
			<xs:enumeration value="AD" />
			<xs:enumeration value="AO" />
			<xs:enumeration value="AI" />
			<xs:enumeration value="AQ" />
			<xs:enumeration value="AG" />
			<xs:enumeration value="SA" />
			<xs:enumeration value="DZ" />
			<xs:enumeration value="AR" />
			<xs:enumeration value="AM" />
			<xs:enumeration value="AW" />
			<xs:enumeration value="AU" />
			<xs:enumeration value="AT" />
			<xs:enumeration value="AZ" />
			<xs:enumeration value="BS" />
			<xs:enumeration value="BH" />
			<xs:enumeration value="BD" />
			<xs:enumeration value="BB" />
			<xs:enumeration value="BE" />
			<xs:enumeration value="BZ" />
			<xs:enumeration value="BJ" />
			<xs:enumeration value="BM" />
			<xs:enumeration value="BY" />
			<xs:enumeration value="BO" />
			<xs:enumeration value="BA" />
			<xs:enumeration value="BW" />
			<xs:enumeration value="BV" />
			<xs:enumeration value="BR" />
			<xs:enumeration value="BN" />
			<xs:enumeration value="BG" />
			<xs:enumeration value="BF" />
			<xs:enumeration value="BI" />
			<xs:enumeration value="BT" />
			<xs:enumeration value="CV" />
			<xs:enumeration value="KY" />
			<xs:enumeration value="KH" />
			<xs:enumeration value="CM" />
			<xs:enumeration value="CA" />
			<xs:enumeration value="CF" />
			<xs:enumeration value="CC" />
			<xs:enumeration value="CO" />
			<xs:enumeration value="KM" />
			<xs:enumeration value="CG" />
			<xs:enumeration value="CD" />
			<xs:enumeration value="CK" />
			<xs:enumeration value="KP" />
			<xs:enumeration value="KR" />
			<xs:enumeration value="CI" />
			<xs:enumeration value="CR" />
			<xs:enumeration value="HR" />
			<xs:enumeration value="CU" />
			<xs:enumeration value="TD" />
			<xs:enumeration value="CZ" />
			<xs:enumeration value="CL" />
			<xs:enumeration value="CN" />
			<xs:enumeration value="CY" />
			<xs:enumeration value="CW" />
			<xs:enumeration value="DK" />
			<xs:enumeration value="DM" />
			<xs:enumeration value="DO" />
			<xs:enumeration value="EC" />
			<xs:enumeration value="EG" />
			<xs:enumeration value="AE" />
			<xs:enumeration value="ER" />
			<xs:enumeration value="SK" />
			<xs:enumeration value="SI" />
			<xs:enumeration value="ES" />
			<xs:enumeration value="US" />
			<xs:enumeration value="EE" />
			<xs:enumeration value="ET" />
			<xs:enumeration value="FO" />
			<xs:enumeration value="PH" />
			<xs:enumeration value="FI" />
			<xs:enumeration value="FJ" />
			<xs:enumeration value="FR" />
			<xs:enumeration value="GA" />
			<xs:enumeration value="GM" />
			<xs:enumeration value="GE" />
			<xs:enumeration value="GS" />
			<xs:enumeration value="GH" />
			<xs:enumeration value="GI" />
			<xs:enumeration value="GD" />
			<xs:enumeration value="GR" />
			<xs:enumeration value="GL" />
			<xs:enumeration value="GU" />
			<xs:enumeration value="GT" />
			<xs:enumeration value="GG" />
			<xs:enumeration value="GN" />
			<xs:enumeration value="GQ" />
			<xs:enumeration value="GW" />
			<xs:enumeration value="GY" />
			<xs:enumeration value="HT" />
			<xs:enumeration value="HM" />
			<xs:enumeration value="HN" />
			<xs:enumeration value="HK" />
			<xs:enumeration value="HU" />
			<xs:enumeration value="IN" />
			<xs:enumeration value="ID" />
			<xs:enumeration value="IR" />
			<xs:enumeration value="IQ" />
			<xs:enumeration value="IE" />
			<xs:enumeration value="IM" />
			<xs:enumeration value="IS" />
			<xs:enumeration value="IL" />
			<xs:enumeration value="IT" />
			<xs:enumeration value="JM" />
			<xs:enumeration value="JP" />
			<xs:enumeration value="JE" />
			<xs:enumeration value="JO" />
			<xs:enumeration value="KZ" />
			<xs:enumeration value="KE" />
			<xs:enumeration value="KG" />
			<xs:enumeration value="KI" />
			<xs:enumeration value="KW" />
			<xs:enumeration value="LA" />
			<xs:enumeration value="LS" />
			<xs:enumeration value="LV" />
			<xs:enumeration value="LB" />
			<xs:enumeration value="LR" />
			<xs:enumeration value="LY" />
			<xs:enumeration value="LI" />
			<xs:enumeration value="LT" />
			<xs:enumeration value="LU" />
			<xs:enumeration value="XG" />
			<xs:enumeration value="MO" />
			<xs:enumeration value="MK" />
			<xs:enumeration value="MG" />
			<xs:enumeration value="MY" />
			<xs:enumeration value="MW" />
			<xs:enumeration value="MV" />
			<xs:enumeration value="ML" />
			<xs:enumeration value="MT" />
			<xs:enumeration value="FK" />
			<xs:enumeration value="MP" />
			<xs:enumeration value="MA" />
			<xs:enumeration value="MH" />
			<xs:enumeration value="MU" />
			<xs:enumeration value="MR" />
			<xs:enumeration value="YT" />
			<xs:enumeration value="UM" />
			<xs:enumeration value="MX" />
			<xs:enumeration value="FM" />
			<xs:enumeration value="MD" />
			<xs:enumeration value="MC" />
			<xs:enumeration value="MN" />
			<xs:enumeration value="ME" />
			<xs:enumeration value="MS" />
			<xs:enumeration value="MZ" />
			<xs:enumeration value="MM" />
			<xs:enumeration value="NA" />
			<xs:enumeration value="NR" />
			<xs:enumeration value="CX" />
			<xs:enumeration value="NP" />
			<xs:enumeration value="NI" />
			<xs:enumeration value="NE" />
			<xs:enumeration value="NG" />
			<xs:enumeration value="NU" />
			<xs:enumeration value="NF" />
			<xs:enumeration value="NO" />
			<xs:enumeration value="NC" />
			<xs:enumeration value="NZ" />
			<xs:enumeration value="IO" />
			<xs:enumeration value="OM" />
			<xs:enumeration value="NL" />
			<xs:enumeration value="BQ" />
			<xs:enumeration value="PK" />
			<xs:enumeration value="PW" />
			<xs:enumeration value="PA" />
			<xs:enumeration value="PG" />
			<xs:enumeration value="PY" />
			<xs:enumeration value="PE" />
			<xs:enumeration value="PN" />
			<xs:enumeration value="PF" />
			<xs:enumeration value="PL" />
			<xs:enumeration value="PT" />
			<xs:enumeration value="PR" />
			<xs:enumeration value="QA" />
			<xs:enumeration value="GB" />
			<xs:enumeration value="RW" />
			<xs:enumeration value="RO" />
			<xs:enumeration value="RU" />
			<xs:enumeration value="SB" />
			<xs:enumeration value="SV" />
			<xs:enumeration value="WS" />
			<xs:enumeration value="AS" />
			<xs:enumeration value="KN" />
			<xs:enumeration value="SM" />
			<xs:enumeration value="SX" />
			<xs:enumeration value="PM" />
			<xs:enumeration value="VC" />
			<xs:enumeration value="SH" />
			<xs:enumeration value="LC" />
			<xs:enumeration value="ST" />
			<xs:enumeration value="SN" />
			<xs:enumeration value="RS" />
			<xs:enumeration value="SC" />
			<xs:enumeration value="SL" />
			<xs:enumeration value="SG" />
			<xs:enumeration value="SY" />
			<xs:enumeration value="SO" />
			<xs:enumeration value="LK" />
			<xs:enumeration value="SZ" />
			<xs:enumeration value="ZA" />
			<xs:enumeration value="SD" />
			<xs:enumeration value="SS" />
			<xs:enumeration value="SE" />
			<xs:enumeration value="CH" />
			<xs:enumeration value="SR" />
			<xs:enumeration value="TH" />
			<xs:enumeration value="TW" />
			<xs:enumeration value="TZ" />
			<xs:enumeration value="TJ" />
			<xs:enumeration value="PS" />
			<xs:enumeration value="TF" />
			<xs:enumeration value="TL" />
			<xs:enumeration value="TG" />
			<xs:enumeration value="TK" />
			<xs:enumeration value="TO" />
			<xs:enumeration value="TT" />
			<xs:enumeration value="TN" />
			<xs:enumeration value="TC" />
			<xs:enumeration value="TM" />
			<xs:enumeration value="TR" />
			<xs:enumeration value="TV" />
			<xs:enumeration value="UA" />
			<xs:enumeration value="UG" />
			<xs:enumeration value="UY" />
			<xs:enumeration value="UZ" />
			<xs:enumeration value="VU" />
			<xs:enumeration value="VA" />
			<xs:enumeration value="VE" />
			<xs:enumeration value="VN" />
			<xs:enumeration value="VG" />
			<xs:enumeration value="VI" />
			<xs:enumeration value="WF" />
			<xs:enumeration value="YE" />
			<xs:enumeration value="DJ" />
			<xs:enumeration value="ZM" />
			<xs:enumeration value="ZW" />
			<xs:enumeration value="QU" />
			<xs:enumeration value="XB" />
			<xs:enumeration value="XU" />
			<xs:enumeration value="XN" />
			<xs:enumeration value="AX" />
			<xs:enumeration value="BL" />
			<xs:enumeration value="EH" />
			<xs:enumeration value="GF" />
			<xs:enumeration value="GP" />
			<xs:enumeration value="MF" />
			<xs:enumeration value="MQ" />
			<xs:enumeration value="RE" />
			<xs:enumeration value="SJ" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>