queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/02_RespuestaSuministro.xsd-Antwort-auf-Vorgaenge-VERIFACTU-u-Nicht-VERIFACTU-Systeme_EN.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- editado con XMLSpy v2019 sp1 (x64) (http://www.altova.com) por Puesto de Trabajo (Agencia
Estatal de Administracion Tributaria ((AEAT))) -->
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by PC Corporativo (AGENCIA TRIBUTARIA) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:sfR="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/tike/cont/ws/RespuestaSuministro.xsd"
  xmlns:sf="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/tike/cont/ws/SuministroInformacion.xsd"
  xmlns:sfLR="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/tike/cont/ws/SuministroLR.xsd"
  targetNamespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/tike/cont/ws/RespuestaSuministro.xsd"
  elementFormDefault="qualified">
  <import
    namespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/tike/cont/ws/SuministroInformacion.xsd"
    schemaLocation="SuministroInformacion.xsd" />
  <import
    namespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/tike/cont/ws/SuministroLR.xsd"
    schemaLocation="SuministroLR.xsd" />
  <element name="RespuestaRegFactuSistemaFacturacion"
    type="sfR:RespuestaRegFactuSistemaFacturacionType" />
  <complexType name="RespuestaBaseType">
    <sequence>
      <element name="CSV" type="string" minOccurs="0">
        <annotation>
          <documentation xml:lang="en"> CSV associated with the remittance generated by AEAT. It is
            only generated if there is no rejection of the submission </documentation>
        </annotation>
      </element>
      <element name="DatosPresentacion" type="sf:DatosPresentacionType" minOccurs="0">
        <annotation>
          <documentation xml:lang="en"> Data of the submission is returned. It is only generated if
            there is no rejection of the submission </documentation>
        </annotation>
      </element>
      <element name="Cabecera" type="sf:Cabecera">
        <annotation>
          <documentation xml:lang="en"> The header that was included in the transmission is
            returned. </documentation>
        </annotation>
      </element>
      <element name="TiempoEsperaEnvio" type="sf:Tipo6Type" />
      <element name="EstadoEnvio" type="sfR:EstadoEnvioType">
        <annotation>
          <documentation xml:lang="en"> Status of the consignment as a whole. If the header data and
            all records are correct, the status is correct. In case of correct structure and header
            where all records are incorrect, the status is incorrect. In case of correct structure
            and header with at least one incorrect record, the overall status is partially correct. </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="RespuestaRegFactuSistemaFacturacionType">
    <annotation>
      <documentation xml:lang="en"> Response to an invoice registration transmission </documentation>
    </annotation>
    <complexContent>
      <extension base="sfR:RespuestaBaseType">
        <sequence>
          <element name="RespuestaLinea" type="sfR:RespuestaExpedidaType" minOccurs="0"
            maxOccurs="1000">
            <annotation>
              <documentation xml:lang="en"> Detailed status of each line of the transmission. </documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RespuestaExpedidaType">
    <annotation>
      <documentation xml:lang="en"> Response to a transmission </documentation>
    </annotation>
    <sequence>
      <element name="IDFactura" type="sf:IDFacturaExpedidaType">
        <annotation>
          <documentation xml:lang="en"> ID Issued Invoice </documentation>
        </annotation>
      </element>
      <element name="EstadoRegistro" type="sfR:EstadoRegistroType">
        <annotation>
          <documentation xml:lang="en"> Registration status. Correct or Incorrect </documentation>
        </annotation>
      </element>
      <element name="CodigoErrorRegistro" type="sfR:ErrorDetalleType" minOccurs="0">
        <annotation>
          <documentation xml:lang="en"> Registration error code, if applicable. </documentation>
        </annotation>
      </element>
      <element name="DescripcionErrorRegistro" type="sf:TextMax500Type" minOccurs="0">
        <annotation>
          <documentation xml:lang="en"> Detailed description of the registration error, if any. </documentation>
        </annotation>
      </element>
      <element name="RegistroDuplicado" type="sf:RegistroDuplicadoType" minOccurs="0">
        <annotation>
          <documentation xml:lang="en"> Only in case of duplicate rejection of the record, this node
            is returned with the information registered in the system for this record. </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="EstadoEnvioType">
    <restriction base="string">
      <enumeration value="Correcto">
        <annotation>
          <documentation xml:lang="en">Correct</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ParcialmenteCorrecto">
        <annotation>
          <documentation xml:lang="en">Partially correct. See details of errors</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Incorrecto">
        <annotation>
          <documentation xml:lang="en">Incorrect</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="EstadoRegistroType">
    <restriction base="string">
      <enumeration value="Correcto">
        <annotation>
          <documentation xml:lang="en">Correct</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AceptadoConErrores">
        <annotation>
          <documentation xml:lang="en">Accepted with Errors. See error detail</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Incorrecto">
        <annotation>
          <documentation xml:lang="en">Incorrect</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ErrorDetalleType">
    <restriction base="integer" />
  </simpleType>
</schema>