queue/src/fiskaltrust.Middleware.Localization.QueueES/Exports/VeriFactu/Models/03_SuministroInformacion.xsd-Definition-allgemeiner-Typen_EN.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- editado con XMLSpy v2019 sp1 (x64) (http://www.altova.com) por AEAT (Agencia Estatal de
Administracion Tributaria ((AEAT))) -->
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by PC Corporativo (AGENCIA TRIBUTARIA) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
  xmlns:sf="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/tike/cont/ws/SuministroInformacion.xsd"
  targetNamespace="https://www2.agenciatributaria.gob.es/static_files/common/internet/dep/aplicaciones/es/aeat/tike/cont/ws/SuministroInformacion.xsd"
  elementFormDefault="qualified">
  <import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd" />
  <!-- Suministro genérico - Generic transmission
	 -->
  <complexType name="SistemaFacturacionFact">
    <annotation>
      <documentation xml:lang="en"> Invoicing systems </documentation>
    </annotation>
    <sequence>
      <element name="Cabecera" type="sf:Cabecera" />
    </sequence>
  </complexType>
  <!-- Cabecera - Header
     -->
  <complexType name="Cabecera">
    <annotation>
      <documentation xml:lang="en"> Header data </documentation>
    </annotation>
    <sequence>
      <element name="ObligadoEmision" type="sf:PersonaFisicaJuridicaESType">
        <annotation>
          <documentation xml:lang="en"> Obliged to issue invoices. </documentation>
        </annotation>
      </element>
      <element name="Representante" type="sf:PersonaFisicaJuridicaESType" minOccurs="0">
        <annotation>
          <documentation xml:lang="en"> Representative of the taxable person. To be filled in only
            in case the submitted invoice records have been generated by a representative/advisor of
            the taxable person. </documentation>
        </annotation>
      </element>
      <element name="RemisionVoluntaria" minOccurs="0">
        <complexType>
          <sequence>
            <element name="FechaFinVeriFactu" type="sf:fecha" minOccurs="0" />
            <element name="Incidencia" type="sf:IncidenciaType" minOccurs="0" />
          </sequence>
        </complexType>
      </element>
      <element name="RemisionRequerimiento" minOccurs="0">
        <complexType>
          <sequence>
            <element name="RefRequerimiento" type="sf:TextMax18Type" />
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <!-- Datos de presentacion en la respuesta - Presentation data in the response
-->
  <complexType name="DatosPresentacionType">
    <sequence>
      <element name="NIFPresentador" type="sf:NIFType" />
      <element name="TimestampPresentacion" type="sf:Timestamp" />
    </sequence>
  </complexType>
  <complexType name="DatosPresentacion2Type">
    <sequence>
      <element name="NIFPresentador" type="sf:NIFType" />
      <element name="TimestampPresentacion" type="sf:Timestamp" />
      <element name="IdPeticion" type="sf:TextMax20Type" />
    </sequence>
  </complexType>
  <complexType name="RegistroSf">
    <annotation>
      <documentation xml:lang="en"> Basic information contained in the records of the invoicing
        system </documentation>
    </annotation>
    <sequence>
      <element name="PeriodoImputacion">
        <complexType>
          <annotation>
            <documentation xml:lang="en"> Period from the date of the operation </documentation>
          </annotation>
          <sequence>
            <element name="Ejercicio" type="sf:YearType" />
            <element name="Periodo" type="sf:TipoPeriodoType" />
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="IDFacturaExpedidaBCType">
    <annotation>
      <documentation xml:lang="en"> Invoice identification data issued for enquiry transactions</documentation>
    </annotation>
    <sequence>
      <element name="IDEmisorFactura" type="sf:NIFType" />
      <element name="NumSerieFactura" type="sf:TextoIDFacturaType">
        <annotation>
          <documentation xml:lang="en"> Serial No. + Invoice No. of the Issuer's Invoice.</documentation>
        </annotation>
      </element>
      <element name="FechaExpedicionFactura" type="sf:fecha">
        <annotation>
          <documentation xml:lang="en"> Date of issue of the invoice</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="IDFacturaExpedidaBajaType">
    <annotation>
      <documentation xml:lang="en"> Invoice identification data of invoice to be reversed for
        cancellation transactions</documentation>
    </annotation>
    <sequence>
      <element name="IDEmisorFacturaAnulada" type="sf:NIFType">
        <annotation>
          <documentation xml:lang="en"> Tax ID (NIF) number of the obligor</documentation>
        </annotation>
      </element>
      <element name="NumSerieFacturaAnulada" type="sf:TextoIDFacturaType">
        <annotation>
          <documentation xml:lang="en"> Serial No. + Invoice No. of the Invoice to be cancelled.</documentation>
        </annotation>
      </element>
      <element name="FechaExpedicionFacturaAnulada" type="sf:fecha">
        <annotation>
          <documentation xml:lang="en"> Date of issue of the invoice to be cancelled</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="RegistroFacturacionAltaType">
    <annotation>
      <documentation xml:lang="en">Data corresponding to the registration invoice record </documentation>
    </annotation>
    <sequence>
      <element name="IDVersion" type="sf:VersionType" />
      <element name="IDFactura" type="sf:IDFacturaExpedidaType" />
      <element name="NombreRazonEmisor" type="sf:TextMax120Type" />
      <element name="Subsanacion" type="sf:SubsanacionType" minOccurs="0" />
      <element name="RechazoPrevio" type="sf:RechazoPrevioType" minOccurs="0" />
      <element name="TipoFactura" type="sf:ClaveTipoFacturaType">
        <annotation>
          <documentation xml:lang="en"> Invoice type key </documentation>
        </annotation>
      </element>
      <element name="TipoRectificativa" type="sf:ClaveTipoRectificativaType" minOccurs="0">
        <annotation>
          <documentation xml:lang="en"> Identifies whether the type of amendment invoice is by
            substitution or by difference. </documentation>
        </annotation>
      </element>
      <element name="FacturasRectificadas" minOccurs="0">
        <complexType>
          <annotation>
            <documentation xml:lang="en">The ID of the corrected invoices is only filled out in the
              case of invoice corrections. </documentation>
          </annotation>
          <sequence>
            <element name="IDFacturaRectificada" type="sf:IDFacturaARType" maxOccurs="1000" />
          </sequence>
        </complexType>
      </element>
      <element name="FacturasSustituidas" minOccurs="0">
        <complexType>
          <annotation>
            <documentation xml:lang="en">The ID of the replaced invoices is only filled in for
              replaced invoices.</documentation>
          </annotation>
          <sequence>
            <element name="IDFacturaSustituida" type="sf:IDFacturaARType" maxOccurs="1000" />
          </sequence>
        </complexType>
      </element>
      <element name="ImporteRectificacion" type="sf:DesgloseRectificacionType" minOccurs="0" />
      <element name="FechaOperacion" type="sf:fecha" minOccurs="0" />
      <element name="DescripcionOperacion" type="sf:TextMax500Type" />
      <element name="FacturaSimplificadaArt7273" type="sf:SimplificadaCualificadaType" minOccurs="0" />
      <element name="FacturaSinIdentifDestinatarioArt61d" type="sf:CompletaSinDestinatarioType"
        minOccurs="0" />
      <element name="Macrodato" type="sf:MacrodatoType" minOccurs="0" />
      <element name="EmitidaPorTerceroODestinatario" type="sf:TercerosODestinatarioType"
        minOccurs="0" />
      <element name="Tercero" type="sf:PersonaFisicaJuridicaType" minOccurs="0">
        <annotation>
          <documentation xml:lang="en"> Third party issuing the invoice and/or generating the
            registration record. </documentation>
        </annotation>
      </element>
      <element name="Destinatarios" minOccurs="0">
        <complexType>
          <annotation>
            <documentation xml:lang="en">Counterparty to the transaction. Customer</documentation>
          </annotation>
          <sequence>
            <element name="IDDestinatario" type="sf:PersonaFisicaJuridicaType" maxOccurs="1000" />
          </sequence>
        </complexType>
      </element>
      <element name="Cupon" type="sf:CuponType" minOccurs="0" />
      <element name="Desglose" type="sf:DesgloseType" />
      <element name="CuotaTotal" type="sf:ImporteSgn12.2Type" />
      <element name="ImporteTotal" type="sf:ImporteSgn12.2Type" />
      <element name="Encadenamiento">
        <complexType>
          <choice>
            <element name="PrimerRegistro" type="sf:PrimerRegistroCadenaType" />
            <element name="RegistroAnterior" type="sf:EncadenamientoFacturaAnteriorType" />
          </choice>
        </complexType>
      </element>
      <element name="SistemaInformatico" type="sf:SistemaInformaticoType" />
      <element name="FechaHoraHusoGenRegistro" type="dateTime" />
      <element name="NumRegistroAcuerdoFacturacion" type="sf:TextMax15Type" minOccurs="0" />
      <element name="IdAcuerdoSistemaInformatico" type="sf:TextMax16Type" minOccurs="0" />
      <element name="TipoHuella" type="sf:TipoHuellaType" />
      <element name="Huella" type="sf:TextMax64Type" />
      <element ref="ds:Signature" minOccurs="0" />
    </sequence>
  </complexType>
  <complexType name="RegistroFacturacionAnulacionType">
    <annotation>
      <documentation xml:lang="en">Data corresponding to the cancellation invoice record </documentation>
    </annotation>
    <sequence>
      <element name="IDVersion" type="sf:VersionType" />
      <element name="IDFactura" type="sf:IDFacturaExpedidaBajaType" />
      <element name="SinRegistroPrevio" type="sf:SinRegistroPrevioType" minOccurs="0" />
      <element name="RechazoPrevio" type="sf:RechazoPrevioAnulacionType" minOccurs="0" />
      <element name="GeneradoPor" type="sf:GeneradoPorType" minOccurs="0" />
      <element name="Generador" type="sf:PersonaFisicaJuridicaType" minOccurs="0" />
      <element name="Encadenamiento">
        <complexType>
          <choice>
            <element name="PrimerRegistro" type="sf:PrimerRegistroCadenaType" />
            <element name="RegistroAnterior" type="sf:EncadenamientoFacturaAnteriorType" />
          </choice>
        </complexType>
      </element>
      <element name="SistemaInformatico" type="sf:SistemaInformaticoType" />
      <element name="FechaHoraHusoGenRegistro" type="dateTime" />
      <element name="TipoHuella" type="sf:TipoHuellaType" />
      <element name="Huella" type="sf:TextMax64Type" />
      <element ref="ds:Signature" minOccurs="0" />
    </sequence>
  </complexType>
  <complexType name="EncadenamientoFacturaAnteriorType">
    <annotation>
      <documentation xml:lang="en">Chaining data </documentation>
    </annotation>
    <sequence>
      <element name="IDEmisorFactura" type="sf:NIFType">
        <annotation>
          <documentation xml:lang="en"> NIF of the person obliged to issue the invoice referred to
            in the previous invoice record</documentation>
        </annotation>
      </element>
      <element name="NumSerieFactura" type="sf:TextMax60Type" />
      <element name="FechaExpedicionFactura" type="sf:fecha" />
      <element name="Huella" type="sf:TextMax64Type" />
    </sequence>
  </complexType>
  <complexType name="SistemaInformaticoType">
    <sequence>
      <sequence>
        <element name="NombreRazon" type="sf:TextMax120Type" />
        <choice>
          <element name="NIF" type="sf:NIFType" />
          <element name="IDOtro" type="sf:IDOtroType" />
        </choice>
      </sequence>
      <element name="NombreSistemaInformatico" type="sf:TextMax30Type" />
      <element name="IdSistemaInformatico" type="sf:TextMax2Type" />
      <element name="Version" type="sf:TextMax50Type" />
      <element name="NumeroInstalacion" type="sf:TextMax100Type" />
      <element name="TipoUsoPosibleSoloVerifactu" type="sf:SiNoType" />
      <element name="TipoUsoPosibleMultiOT" type="sf:SiNoType" />
      <element name="IndicadorMultiplesOT" type="sf:SiNoType" />
    </sequence>
  </complexType>
  <complexType name="IDFacturaExpedidaType">
    <annotation>
      <documentation xml:lang="en"> Invoice identification data </documentation>
    </annotation>
    <sequence>
      <element name="IDEmisorFactura" type="sf:NIFType">
        <annotation>
          <documentation xml:lang="en"> Tax ID (NIF) number of the obligor</documentation>
        </annotation>
      </element>
      <element name="NumSerieFactura" type="sf:TextoIDFacturaType">
        <annotation>
          <documentation xml:lang="en"> Serial No. + Invoice No. of the Issuer Invoice</documentation>
        </annotation>
      </element>
      <element name="FechaExpedicionFactura" type="sf:fecha">
        <annotation>
          <documentation xml:lang="en"> Date of issue of the invoice</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <!-- tipo definido para la identificacion de facturas sustituidas o rectificadas - type defined
  for the identification of replaced or corrected invoices -->
  <complexType name="IDFacturaARType">
    <annotation>
      <documentation xml:lang="en"> Identification data of the replaced or corrected invoice. The
        TIN shall be taken from the TIN indicated in the IDFactura block.</documentation>
    </annotation>
    <sequence>
      <element name="IDEmisorFactura" type="sf:NIFType">
        <annotation>
          <documentation xml:lang="en"> Tax ID number (NIF) of the obligor</documentation>
        </annotation>
      </element>
      <element name="NumSerieFactura" type="sf:TextoIDFacturaType">
        <annotation>
          <documentation xml:lang="en">Serial No. + Invoice No. of the invoice</documentation>
        </annotation>
      </element>
      <element name="FechaExpedicionFactura" type="sf:fecha">
        <annotation>
          <documentation xml:lang="en"> Date of issue of the replaced or corrected invoice</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="DetalleType">
    <sequence>
      <element name="Impuesto" type="sf:ImpuestoType" minOccurs="0" />
      <element name="ClaveRegimen" type="sf:IdOperacionesTrascendenciaTributariaType" minOccurs="0" />
      <choice>
        <element name="CalificacionOperacion" type="sf:CalificacionOperacionType" />
        <element name="OperacionExenta" type="sf:OperacionExentaType" />
      </choice>
      <element name="TipoImpositivo" type="sf:Tipo2.2Type" minOccurs="0" />
      <element name="BaseImponibleOimporteNoSujeto" type="sf:ImporteSgn12.2Type" />
      <element name="BaseImponibleACoste" type="sf:ImporteSgn12.2Type" minOccurs="0" />
      <element name="CuotaRepercutida" type="sf:ImporteSgn12.2Type" minOccurs="0" />
      <element name="TipoRecargoEquivalencia" type="sf:Tipo2.2Type" minOccurs="0" />
      <element name="CuotaRecargoEquivalencia" type="sf:ImporteSgn12.2Type" minOccurs="0" />
    </sequence>
  </complexType>
  <complexType name="DesgloseRectificacionType">
    <annotation>
      <documentation xml:lang="en">Breakdown of Substituted Base and Substituted Quota in Substitute
        Amending Invoices</documentation>
    </annotation>
    <sequence>
      <element name="BaseRectificada" type="sf:ImporteSgn12.2Type" />
      <element name="CuotaRectificada" type="sf:ImporteSgn12.2Type" />
      <element name="CuotaRecargoRectificado" type="sf:ImporteSgn12.2Type" minOccurs="0" />
    </sequence>
  </complexType>
  <!-- Datos de persona Física o jurídica : Denominación, representación, identificación (NIF) -
  Data of natural or legal person : Name, representation, identification (NIF) -->
  <complexType name="PersonaFisicaJuridicaESType">
    <annotation>
      <documentation xml:lang="en">Data of a Spanish natural or legal person with an associated tax
        identification number (NIF)</documentation>
    </annotation>
    <sequence>
      <element name="NombreRazon" type="sf:TextMax120Type" />
      <element name="NIF" type="sf:NIFType" />
    </sequence>
  </complexType>
  <!-- Datos de persona Física o jurídica : Denominación, representación, identificación (NIF/Otro)
  - Data of natural or legal person : Name, representation, identification (NIF/Other) -->
  <complexType name="PersonaFisicaJuridicaType">
    <annotation>
      <documentation xml:lang="en">Data of a Spanish or foreign natural person or legal entity</documentation>
    </annotation>
    <sequence>
      <element name="NombreRazon" type="sf:TextMax120Type" />
      <choice>
        <element name="NIF" type="sf:NIFType" />
        <element name="IDOtro" type="sf:IDOtroType" />
      </choice>
    </sequence>
  </complexType>
  <!-- Datos de persona Física o jurídica : Denominación, representación, identificación (NIF/Otro)
  - Data of natural or legal person : Name, representation, identification (NIF/Other) -->
  <complexType name="IDOtroType">
    <annotation>
      <documentation xml:lang="en">ID of natural or legal person other than NIF (Country Code,
        IDType, and up to 15 characters) - (Código pais, Tipo de Identificador, y hasta 15
        caractéres) CountryCode=EN (CodigoPais=ES) and IDType=01-NIF (IDType=01-NIFContraparte) are
        not allowed, in this case, NIF must be used instead of IDOther (IDOtro). </documentation>
    </annotation>
    <sequence>
      <element name="CodigoPais" type="sf:CountryType2" minOccurs="0" />
      <element name="IDType" type="sf:PersonaFisicaJuridicaIDTypeType" />
      <element name="ID" type="sf:TextMax20Type" />
    </sequence>
  </complexType>
  <complexType name="RangoFechaExpedicionType">
    <annotation>
      <documentation xml:lang="en">Range of dates of issue</documentation>
    </annotation>
    <sequence>
      <element name="Desde" type="sf:fecha" minOccurs="0" />
      <element name="Hasta" type="sf:fecha" minOccurs="0" />
    </sequence>
  </complexType>
  <complexType name="FechaExpedicionConsultaType">
    <choice>
      <element name="FechaExpedicionFactura" type="sf:fecha" minOccurs="0" />
      <element name="RangoFechaExpedicion" type="sf:RangoFechaExpedicionType" minOccurs="0" />
    </choice>
  </complexType>
  <complexType name="RegistroDuplicadoType">
    <sequence>
      <element name="IdPeticionRegistroDuplicado" type="sf:TextMax20Type">
        <annotation>
          <documentation xml:lang="en"> IdPetition (IdPeticion) associated to the invoice previously
            registered in the system. Only supplied if the submitted invoice is rejected as a
            duplicate </documentation>
        </annotation>
      </element>
      <element name="EstadoRegistroDuplicado" type="sf:EstadoRegistroSFType">
        <annotation>
          <documentation xml:lang="en"> Status of the duplicate record stored in the system.
            Possible statuses are: Correct, AcceptedWithErrors and Voided (Correcta,
            AceptadaConErrores and Anulada). Only provided if the submitted invoice is rejected as a
            duplicate. </documentation>
        </annotation>
      </element>
      <element name="CodigoErrorRegistro" type="sf:ErrorDetalleType" minOccurs="0">
        <annotation>
          <documentation xml:lang="en"> Code of the duplicate record error stored in the system, if
            any. </documentation>
        </annotation>
      </element>
      <element name="DescripcionErrorRegistro" type="sf:TextMax500Type" minOccurs="0">
        <annotation>
          <documentation xml:lang="en"> Detailed description of the duplicate record error stored in
            the system, if any. </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <simpleType name="VersionType">
    <restriction base="string">
      <enumeration value="1.0" />
    </restriction>
  </simpleType>
  <!-- ==== Tipos básicos (Listas de claves y patrones) - Basic types (Key Lists and Patterns)
  ============================================= -->
  <!-- Año en formato YYYY - Year in format YYYY -->
  <simpleType name="YearType">
    <annotation>
      <documentation xml:lang="en"> Year in format YYYY </documentation>
    </annotation>
    <restriction base="string">
      <length value="4" />
      <pattern value="\d{4,4}" />
    </restriction>
  </simpleType>
  <simpleType name="TipoPeriodoType">
    <annotation>
      <documentation xml:lang="en"> Invoice period </documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="01">
        <annotation>
          <documentation xml:lang="en"> January </documentation>
        </annotation>
      </enumeration>
      <enumeration value="02">
        <annotation>
          <documentation xml:lang="en"> February </documentation>
        </annotation>
      </enumeration>
      <enumeration value="03">
        <annotation>
          <documentation xml:lang="en"> March </documentation>
        </annotation>
      </enumeration>
      <enumeration value="04">
        <annotation>
          <documentation xml:lang="en"> April </documentation>
        </annotation>
      </enumeration>
      <enumeration value="05">
        <annotation>
          <documentation xml:lang="en"> May </documentation>
        </annotation>
      </enumeration>
      <enumeration value="06">
        <annotation>
          <documentation xml:lang="en"> June </documentation>
        </annotation>
      </enumeration>
      <enumeration value="07">
        <annotation>
          <documentation xml:lang="en"> July </documentation>
        </annotation>
      </enumeration>
      <enumeration value="08">
        <annotation>
          <documentation xml:lang="en"> August </documentation>
        </annotation>
      </enumeration>
      <enumeration value="09">
        <annotation>
          <documentation xml:lang="en"> September </documentation>
        </annotation>
      </enumeration>
      <enumeration value="10">
        <annotation>
          <documentation xml:lang="en"> October </documentation>
        </annotation>
      </enumeration>
      <enumeration value="11">
        <annotation>
          <documentation xml:lang="en"> November </documentation>
        </annotation>
      </enumeration>
      <enumeration value="12">
        <annotation>
          <documentation xml:lang="en"> December </documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!-- Unique invoice identifier -->
  <simpleType name="TextoIDenvioType">
    <restriction base="string">
      <maxLength value="20" />
    </restriction>
  </simpleType>
  <!-- Unique invoice identifier -->
  <simpleType name="TextoIDFacturaType">
    <restriction base="string">
      <minLength value="1" />
      <maxLength value="60" />
    </restriction>
  </simpleType>
  <!-- 10-digit type -->
  <simpleType name="Tipo10Type">
    <restriction base="string">
      <pattern value="\d{0,10}" />
    </restriction>
  </simpleType>
  <!-- 15-digit amount (12+2) "." as a decimal separator -->
  <simpleType name="ImporteSgn12.2Type">
    <restriction base="string">
      <pattern value="(\+|-)?\d{1,12}(\.\d{0,2})?" />
    </restriction>
  </simpleType>
  <!-- 17-digit amount (14+2) "." as a decimal separator -->
  <simpleType name="ImporteSgn14.2Type">
    <restriction base="string">
      <pattern value="(\+|-)?\d{1,14}(\.\d{0,2})?" />
    </restriction>
  </simpleType>
  <!-- 6-digit (3+2) type "." as decimal separator -->
  <simpleType name="Tipo2.2Type">
    <restriction base="string">
      <pattern value="\d{1,3}(\.\d{0,2})?" />
    </restriction>
  </simpleType>
  <!-- 3-digit type -->
  <simpleType name="Tipo3Type">
    <restriction base="string">
      <pattern value="\d{0,3}" />
    </restriction>
  </simpleType>
  <!-- 6-digit type -->
  <simpleType name="Tipo6Type">
    <restriction base="string">
      <pattern value="\d{0,4}" />
    </restriction>
  </simpleType>
  <!-- String of 500 characters -->
  <simpleType name="TextMax500Type">
    <restriction base="string">
      <maxLength value="500" />
    </restriction>
  </simpleType>
  <!-- String of 250 characters -->
  <simpleType name="TextMax250Type">
    <restriction base="string">
      <maxLength value="250" />
    </restriction>
  </simpleType>
  <!-- String of 150 characters -->
  <simpleType name="TextMax150Type">
    <restriction base="string">
      <maxLength value="150" />
    </restriction>
  </simpleType>
  <!-- String of 120 characters -->
  <simpleType name="TextMax120Type">
    <restriction base="string">
      <maxLength value="120" />
    </restriction>
  </simpleType>
  <!-- String of 100 characters -->
  <simpleType name="TextMax100Type">
    <restriction base="string">
      <maxLength value="100" />
    </restriction>
  </simpleType>
  <!-- Cadena de 65 caracteres -->
  <simpleType name="TextMax65Type">
    <restriction base="string">
      <maxLength value="65" />
    </restriction>
  </simpleType>
  <!-- Cadena de 60 caracteres -->
  <simpleType name="TextMax60Type">
    <restriction base="string">
      <maxLength value="60" />
    </restriction>
  </simpleType>
  <!-- Cadena de 64 caracteres -->
  <simpleType name="TextMax64Type">
    <restriction base="string">
      <maxLength value="64" />
    </restriction>
  </simpleType>
  <!-- Cadena de 40 caracteres -->
  <simpleType name="TextMax40Type">
    <restriction base="string">
      <maxLength value="40" />
    </restriction>
  </simpleType>
  <!-- Cadena de 34 caracteres -->
  <simpleType name="TextMax34Type">
    <restriction base="string">
      <maxLength value="34" />
    </restriction>
  </simpleType>
  <!-- Cadena de 20 caracteres -->
  <simpleType name="TextMax20Type">
    <restriction base="string">
      <maxLength value="20" />
    </restriction>
  </simpleType>
  <!-- Cadena de 18 caracteres -->
  <simpleType name="TextMax18Type">
    <restriction base="string">
      <maxLength value="18" />
    </restriction>
  </simpleType>
  <!-- Cadena de 15 caracteres -->
  <simpleType name="TextMax15Type">
    <restriction base="string">
      <maxLength value="15" />
    </restriction>
  </simpleType>
  <!-- Cadena de 16 caracteres -->
  <simpleType name="TextMax16Type">
    <restriction base="string">
      <maxLength value="15" />
    </restriction>
  </simpleType>
  <!-- String of 25 characters -->
  <simpleType name="TextMax25Type">
    <restriction base="string">
      <maxLength value="25" />
    </restriction>
  </simpleType>
  <!-- String of 30 characters -->
  <simpleType name="TextMax30Type">
    <restriction base="string">
      <maxLength value="30" />
    </restriction>
  </simpleType>
  <!-- Cadastral / Land registry Reference -->
  <simpleType name="ReferenciaCatastralType">
    <restriction base="string">
      <maxLength value="25" />
    </restriction>
  </simpleType>
  <!-- 2 character string -->
  <simpleType name="TextMax2Type">
    <restriction base="string">
      <maxLength value="2" />
    </restriction>
  </simpleType>
  <!-- String of 50 characters -->
  <simpleType name="TextMax50Type">
    <restriction base="string">
      <maxLength value="50" />
    </restriction>
  </simpleType>
  <!-- NIF -->
  <simpleType name="NIFType">
    <annotation>
      <documentation xml:lang="en">NIF</documentation>
    </annotation>
    <restriction base="string">
      <length value="9" />
    </restriction>
  </simpleType>
  <simpleType name="fecha">
    <restriction base="string">
      <length value="10" />
      <pattern value="\d{2,2}-\d{2,2}-\d{4,4}" />
    </restriction>
  </simpleType>
  <simpleType name="Timestamp">
    <restriction base="string">
      <length value="19" />
      <pattern value="\d{2,2}-\d{2,2}-\d{4,4} \d{2,2}:\d{2,2}:\d{2,2}" />
    </restriction>
  </simpleType>
  <simpleType name="OperacionExentaType">
    <restriction base="string">
      <enumeration value="E1">
        <annotation>
          <documentation xml:lang="en">EXEMPT by Art. 20 </documentation>
        </annotation>
      </enumeration>
      <enumeration value="E2">
        <annotation>
          <documentation xml:lang="en">EXEMPT by Art. 21</documentation>
        </annotation>
      </enumeration>
      <enumeration value="E3">
        <annotation>
          <documentation xml:lang="en">EXEMPT by Art. 22</documentation>
        </annotation>
      </enumeration>
      <enumeration value="E4">
        <annotation>
          <documentation xml:lang="en">EXEMPT by Art. 24</documentation>
        </annotation>
      </enumeration>
      <enumeration value="E5">
        <annotation>
          <documentation xml:lang="en">EXEMPT by Art. 25</documentation>
        </annotation>
      </enumeration>
      <enumeration value="E6">
        <annotation>
          <documentation xml:lang="en">EXEMPT other</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!-- Códigos de Tipo de factura - Invoice Type Codes -->
  <simpleType name="ClaveTipoFacturaType">
    <restriction base="string">
      <enumeration value="F1">
        <annotation>
          <documentation xml:lang="en">INVOICE (ART. 6, 7.2 AND 7.3 OF RD 1619/2012)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F2">
        <annotation>
          <documentation xml:lang="en">SIMPLIFIED INVOICE AND INVOICES WITHOUT IDENTIFICATION OF THE
            RECIPIENT ART. 6.1.D) RD 1619/2012</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R1">
        <annotation>
          <documentation xml:lang="en">RECTIFICATIVE INVOICE (Art 80.1 and 80.2 and error in law)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R2">
        <annotation>
          <documentation xml:lang="en">RECTIFICATIVE INVOICE (Art. 80.3)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R3">
        <annotation>
          <documentation xml:lang="en">RECTIFICATIVE INVOICE (Art. 80.4)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R4">
        <annotation>
          <documentation xml:lang="en">RECTIFICATIVE INVOICE (Other)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="R5">
        <annotation>
          <documentation xml:lang="en">AMENDMENT INVOICE IN SIMPLIFIED INVOICES</documentation>
        </annotation>
      </enumeration>
      <enumeration value="F3">
        <annotation>
          <documentation xml:lang="en">INVOICE ISSUED IN SUBSTITUTION OF SIMPLIFIED INVOICES
            INVOICED AND DECLARED</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RechazoPrevioType">
    <restriction base="string">
      <enumeration value="N">
        <annotation>
          <documentation xml:lang="en">There has been no prior rejection by the AEAT.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S">
        <annotation>
          <documentation xml:lang="en">There has been a previous rejection by the AEAT.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="X">
        <annotation>
          <documentation xml:lang="en">Regardless of whether or not there has been any previous
            rejection by the AEAT, the invoicing record does not exist in the AEAT (record existing
            in that SIF or in any SIF of the taxpayer and which was not sent to the AEAT, for
            example, when using Veri*factu from not Veri*factu). There should be no registration
            transactions (N,X), so they are not allowed. </documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="RechazoPrevioAnulacionType">
    <restriction base="string">
      <enumeration value="S" />
      <enumeration value="N" />
    </restriction>
  </simpleType>
  <simpleType name="SinRegistroPrevioType">
    <restriction base="string">
      <enumeration value="S" />
      <enumeration value="N" />
    </restriction>
  </simpleType>
  <simpleType name="PrimerRegistroCadenaType">
    <restriction base="string">
      <enumeration value="S" />
    </restriction>
  </simpleType>
  <simpleType name="SubsanacionType">
    <restriction base="string">
      <enumeration value="S" />
      <enumeration value="N" />
    </restriction>
  </simpleType>
  <simpleType name="ClaveTipoRectificativaType">
    <restriction base="string">
      <enumeration value="S">
        <annotation>
          <documentation xml:lang="en">SUSTITUTIVE</documentation>
        </annotation>
      </enumeration>
      <enumeration value="I">
        <annotation>
          <documentation xml:lang="en">INCREMENTAL</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!-- Third Party or Addressee / Recipient-->
  <simpleType name="TercerosODestinatarioType">
    <restriction base="string">
      <enumeration value="D">
        <annotation>
          <documentation xml:lang="en">Addressee / Recipient</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation xml:lang="en">Third party</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!-- Simplified invoice Article 7.2 and 7.3 RD 1619/2012, -->
  <simpleType name="SimplificadaCualificadaType">
    <restriction base="string">
      <enumeration value="S" />
      <enumeration value="N" />
    </restriction>
  </simpleType>
  <!-- Invoice without addressee identification Article 6,1,d) RD 1619/2012 -->
  <simpleType name="CompletaSinDestinatarioType">
    <restriction base="string">
      <enumeration value="S" />
      <enumeration value="N" />
    </restriction>
  </simpleType>
  <!-- It will allow the identification of invoices with invoice amounts above a threshold. -->
  <simpleType name="MacrodatoType">
    <restriction base="string">
      <enumeration value="S" />
      <enumeration value="N" />
    </restriction>
  </simpleType>
  <!-- Identifier specifying whether the generation of the billing record has taken place during any
  type of incident. -->
  <simpleType name="IncidenciaType">
    <restriction base="string">
      <enumeration value="S" />
      <enumeration value="N" />
    </restriction>
  </simpleType>
  <simpleType name="GeneradoPorType">
    <restriction base="string">
      <enumeration value="E">
        <annotation>
          <documentation xml:lang="en">Sender (obliged to issue the cancelled invoice).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="D">
        <annotation>
          <documentation xml:lang="en">Recipient</documentation>
        </annotation>
      </enumeration>
      <enumeration value="T">
        <annotation>
          <documentation xml:lang="en">Third party</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!-- Type of tax identifier of natural or legal person -->
  <simpleType name="PersonaFisicaJuridicaIDTypeType">
    <restriction base="string">
      <enumeration value="02">
        <annotation>
          <documentation xml:lang="en">NIF-IVA / VAT REGISTRATION NUMBER</documentation>
        </annotation>
      </enumeration>
      <enumeration value="03">
        <annotation>
          <documentation xml:lang="en">Passport</documentation>
        </annotation>
      </enumeration>
      <enumeration value="04">
        <annotation>
          <documentation xml:lang="en">IDEnPaisResidencia / ID In Country of Residence</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05">
        <annotation>
          <documentation xml:lang="en">Certificate of Residence</documentation>
        </annotation>
      </enumeration>
      <enumeration value="06">
        <annotation>
          <documentation xml:lang="en">Other Documentary Evidence</documentation>
        </annotation>
      </enumeration>
      <enumeration value="07">
        <annotation>
          <documentation xml:lang="en">Not counted</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!-- Tipo Hash / Hash type -->
  <simpleType name="TipoHuellaType">
    <restriction base="string">
      <enumeration value="01">
        <annotation>
          <documentation xml:lang="en">SHA-256</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!-- CLAVE QUE IDENTIFICARÁ EL TIPO DE RÉGIMEN DEL IVA O UNA OPERACIÓN CON TRASCENDENCIA
  TRIBUTARIA - KEY IDENTIFYING THE TYPE OF VAT SCHEME OR A TRANSACTION WITH TAX IMPLICATIONS 
     -->
  <simpleType name="IdOperacionesTrascendenciaTributariaType">
    <restriction base="string">
      <enumeration value="01" />
      <enumeration value="02" />
      <enumeration value="03" />
      <enumeration value="04" />
      <enumeration value="05" />
      <enumeration value="06" />
      <enumeration value="07" />
      <enumeration value="09" />
      <enumeration value="10" />
      <enumeration value="11" />
      <enumeration value="14" />
      <enumeration value="15" />
      <enumeration value="17" />
      <enumeration value="18" />
      <enumeration value="19" />
      <enumeration value="20" />
    </restriction>
  </simpleType>
  <!-- ISO 3166-1 alpha-2 codes -->
  <simpleType name="CountryType2">
    <restriction base="string">
      <enumeration value="AF" />
      <enumeration value="AL" />
      <enumeration value="DE" />
      <enumeration value="AD" />
      <enumeration value="AO" />
      <enumeration value="AI" />
      <enumeration value="AQ" />
      <enumeration value="AG" />
      <enumeration value="SA" />
      <enumeration value="DZ" />
      <enumeration value="AR" />
      <enumeration value="AM" />
      <enumeration value="AW" />
      <enumeration value="AU" />
      <enumeration value="AT" />
      <enumeration value="AZ" />
      <enumeration value="BS" />
      <enumeration value="BH" />
      <enumeration value="BD" />
      <enumeration value="BB" />
      <enumeration value="BE" />
      <enumeration value="BZ" />
      <enumeration value="BJ" />
      <enumeration value="BM" />
      <enumeration value="BY" />
      <enumeration value="BO" />
      <enumeration value="BA" />
      <enumeration value="BW" />
      <enumeration value="BV" />
      <enumeration value="BR" />
      <enumeration value="BN" />
      <enumeration value="BG" />
      <enumeration value="BF" />
      <enumeration value="BI" />
      <enumeration value="BT" />
      <enumeration value="CV" />
      <enumeration value="KY" />
      <enumeration value="KH" />
      <enumeration value="CM" />
      <enumeration value="CA" />
      <enumeration value="CF" />
      <enumeration value="CC" />
      <enumeration value="CO" />
      <enumeration value="KM" />
      <enumeration value="CG" />
      <enumeration value="CD" />
      <enumeration value="CK" />
      <enumeration value="KP" />
      <enumeration value="KR" />
      <enumeration value="CI" />
      <enumeration value="CR" />
      <enumeration value="HR" />
      <enumeration value="CU" />
      <enumeration value="TD" />
      <enumeration value="CZ" />
      <enumeration value="CL" />
      <enumeration value="CN" />
      <enumeration value="CY" />
      <enumeration value="CW" />
      <enumeration value="DK" />
      <enumeration value="DM" />
      <enumeration value="DO" />
      <enumeration value="EC" />
      <enumeration value="EG" />
      <enumeration value="AE" />
      <enumeration value="ER" />
      <enumeration value="SK" />
      <enumeration value="SI" />
      <enumeration value="ES" />
      <enumeration value="US" />
      <enumeration value="EE" />
      <enumeration value="ET" />
      <enumeration value="FO" />
      <enumeration value="PH" />
      <enumeration value="FI" />
      <enumeration value="FJ" />
      <enumeration value="FR" />
      <enumeration value="GA" />
      <enumeration value="GM" />
      <enumeration value="GE" />
      <enumeration value="GS" />
      <enumeration value="GH" />
      <enumeration value="GI" />
      <enumeration value="GD" />
      <enumeration value="GR" />
      <enumeration value="GL" />
      <enumeration value="GU" />
      <enumeration value="GT" />
      <enumeration value="GG" />
      <enumeration value="GN" />
      <enumeration value="GQ" />
      <enumeration value="GW" />
      <enumeration value="GY" />
      <enumeration value="HT" />
      <enumeration value="HM" />
      <enumeration value="HN" />
      <enumeration value="HK" />
      <enumeration value="HU" />
      <enumeration value="IN" />
      <enumeration value="ID" />
      <enumeration value="IR" />
      <enumeration value="IQ" />
      <enumeration value="IE" />
      <enumeration value="IM" />
      <enumeration value="IS" />
      <enumeration value="IL" />
      <enumeration value="IT" />
      <enumeration value="JM" />
      <enumeration value="JP" />
      <enumeration value="JE" />
      <enumeration value="JO" />
      <enumeration value="KZ" />
      <enumeration value="KE" />
      <enumeration value="KG" />
      <enumeration value="KI" />
      <enumeration value="KW" />
      <enumeration value="LA" />
      <enumeration value="LS" />
      <enumeration value="LV" />
      <enumeration value="LB" />
      <enumeration value="LR" />
      <enumeration value="LY" />
      <enumeration value="LI" />
      <enumeration value="LT" />
      <enumeration value="LU" />
      <enumeration value="XG" />
      <enumeration value="MO" />
      <enumeration value="MK" />
      <enumeration value="MG" />
      <enumeration value="MY" />
      <enumeration value="MW" />
      <enumeration value="MV" />
      <enumeration value="ML" />
      <enumeration value="MT" />
      <enumeration value="FK" />
      <enumeration value="MP" />
      <enumeration value="MA" />
      <enumeration value="MH" />
      <enumeration value="MU" />
      <enumeration value="MR" />
      <enumeration value="YT" />
      <enumeration value="UM" />
      <enumeration value="MX" />
      <enumeration value="FM" />
      <enumeration value="MD" />
      <enumeration value="MC" />
      <enumeration value="MN" />
      <enumeration value="ME" />
      <enumeration value="MS" />
      <enumeration value="MZ" />
      <enumeration value="MM" />
      <enumeration value="NA" />
      <enumeration value="NR" />
      <enumeration value="CX" />
      <enumeration value="NP" />
      <enumeration value="NI" />
      <enumeration value="NE" />
      <enumeration value="NG" />
      <enumeration value="NU" />
      <enumeration value="NF" />
      <enumeration value="NO" />
      <enumeration value="NC" />
      <enumeration value="NZ" />
      <enumeration value="IO" />
      <enumeration value="OM" />
      <enumeration value="NL" />
      <enumeration value="BQ" />
      <enumeration value="PK" />
      <enumeration value="PW" />
      <enumeration value="PA" />
      <enumeration value="PG" />
      <enumeration value="PY" />
      <enumeration value="PE" />
      <enumeration value="PN" />
      <enumeration value="PF" />
      <enumeration value="PL" />
      <enumeration value="PT" />
      <enumeration value="PR" />
      <enumeration value="QA" />
      <enumeration value="GB" />
      <enumeration value="RW" />
      <enumeration value="RO" />
      <enumeration value="RU" />
      <enumeration value="SB" />
      <enumeration value="SV" />
      <enumeration value="WS" />
      <enumeration value="AS" />
      <enumeration value="KN" />
      <enumeration value="SM" />
      <enumeration value="SX" />
      <enumeration value="PM" />
      <enumeration value="VC" />
      <enumeration value="SH" />
      <enumeration value="LC" />
      <enumeration value="ST" />
      <enumeration value="SN" />
      <enumeration value="RS" />
      <enumeration value="SC" />
      <enumeration value="SL" />
      <enumeration value="SG" />
      <enumeration value="SY" />
      <enumeration value="SO" />
      <enumeration value="LK" />
      <enumeration value="SZ" />
      <enumeration value="ZA" />
      <enumeration value="SD" />
      <enumeration value="SS" />
      <enumeration value="SE" />
      <enumeration value="CH" />
      <enumeration value="SR" />
      <enumeration value="TH" />
      <enumeration value="TW" />
      <enumeration value="TZ" />
      <enumeration value="TJ" />
      <enumeration value="PS" />
      <enumeration value="TF" />
      <enumeration value="TL" />
      <enumeration value="TG" />
      <enumeration value="TK" />
      <enumeration value="TO" />
      <enumeration value="TT" />
      <enumeration value="TN" />
      <enumeration value="TC" />
      <enumeration value="TM" />
      <enumeration value="TR" />
      <enumeration value="TV" />
      <enumeration value="UA" />
      <enumeration value="UG" />
      <enumeration value="UY" />
      <enumeration value="UZ" />
      <enumeration value="VU" />
      <enumeration value="VA" />
      <enumeration value="VE" />
      <enumeration value="VN" />
      <enumeration value="VG" />
      <enumeration value="VI" />
      <enumeration value="WF" />
      <enumeration value="YE" />
      <enumeration value="DJ" />
      <enumeration value="ZM" />
      <enumeration value="ZW" />
      <enumeration value="QU" />
      <enumeration value="XB" />
      <enumeration value="XU" />
      <enumeration value="XN" />
    </restriction>
  </simpleType>
  <!-- Estado del registro duplicado almacenado en el sistema - Status of the duplicate record
  stored in the system -->
  <simpleType name="EstadoRegistroSFType">
    <restriction base="string">
      <enumeration value="Correcta">
        <annotation>
          <documentation xml:lang="en">The record has been stored without errors</documentation>
        </annotation>
      </enumeration>
      <enumeration value="AceptadaConErrores">
        <annotation>
          <documentation xml:lang="en">The record that has been stored has some errors. See error
            detail</documentation>
        </annotation>
      </enumeration>
      <enumeration value="Anulada">
        <annotation>
          <documentation xml:lang="en">The stored record has been cancelled</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ErrorDetalleType">
    <restriction base="integer" />
  </simpleType>
  <simpleType name="CalificacionOperacionType">
    <restriction base="string">
      <enumeration value="S1">
        <annotation>
          <documentation xml:lang="en"> TAXABLE AND NON-EXEMPT TRANSACTION - NO REVERSE CHARGE.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="S2">
        <annotation>
          <documentation xml:lang="en">TAXABLE AND NON-TAXABLE TRANSACTION - WITH REVERSE CHARGE</documentation>
        </annotation>
      </enumeration>
      <enumeration value="N1">
        <annotation>
          <documentation xml:lang="en">TRANSACTION NOT SUBJECT TO ARTICLE 7, 14, OTHERS.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="N2">
        <annotation>
          <documentation xml:lang="en">OPERATION NOT SUBJECT TO LOCALISATION RULES</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <!-- Lineas de detalle del desglose - Detailed breakdown lines -->
  <complexType name="DesgloseType">
    <sequence>
      <element name="DetalleDesglose" type="sf:DetalleType" maxOccurs="12" />
    </sequence>
  </complexType>
  <simpleType name="SiNoType">
    <restriction base="string">
      <enumeration value="S" />
      <enumeration value="N" />
    </restriction>
  </simpleType>
  <complexType name="ContraparteConsultaType">
    <annotation>
      <documentation xml:lang="en">Data of a Spanish or foreign natural person or legal entity</documentation>
    </annotation>
    <sequence>
      <element name="NombreRazon" type="sf:TextMax120Type" />
      <choice>
        <element name="NIF" type="sf:NIFType" />
        <element name="IDOtro" type="sf:IDOtroType" />
      </choice>
    </sequence>
  </complexType>
  <complexType name="ConsultaInformacion">
    <annotation>
      <documentation xml:lang="en"> Composed of context data and a sequence of 1 or more records. </documentation>
    </annotation>
    <sequence>
      <element name="Cabecera" type="sf:CabeceraConsultaSf" />
    </sequence>
  </complexType>
  <complexType name="CabeceraConsultaSf">
    <annotation>
      <documentation xml:lang="en"> Consultation Header (? Cabecera de la Cobnsulta ?) </documentation>
    </annotation>
    <sequence>
      <element name="IDVersion" type="sf:VersionType" />
      <choice>
        <element name="ObligadoEmision" type="sf:ObligadoEmisionConsultaType" minOccurs="0">
          <annotation>
            <documentation xml:lang="en"> Obligation to issue invoice records </documentation>
          </annotation>
        </element>
        <element name="Destinatario" type="sf:PersonaFisicaJuridicaESType" minOccurs="0">
          <annotation>
            <documentation xml:lang="en"> Recipient (sometimes also referred to as the counterparty,
              i.e. the customer) of the transaction </documentation>
          </annotation>
        </element>
      </choice>
      <element name="IndicadorRepresentante" type="sf:CuponType" minOccurs="0">
        <annotation>
          <documentation xml:lang="en"> Optional flag which will have value S if the enquiry is
            being made by the representative/adviser of the taxable person. To be filled in only if
            the invoice records submitted have been generated by a representative/adviser of the
            taxable person. This flag can only be completed when the taxable person is informed in
            the enquiry. </documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <!-- Obligado a la emision consulta - Obliged to issue consultation -->
  <complexType name="ObligadoEmisionConsultaType">
    <annotation>
      <documentation xml:lang="en">Data of a Spanish natural or legal person with an associated tax
        identification number (NIF)</documentation>
    </annotation>
    <sequence>
      <element name="NombreRazon" type="sf:TextMax120Type" />
      <element name="NIF" type="sf:NIFType" />
    </sequence>
  </complexType>
  <!-- Obligado a la gerneracion de la anulacion - Obliged to generate cancellation -->
  <complexType name="ObligadoGeneracionType">
    <sequence>
      <element name="NombreRazon" type="sf:TextMax120Type" />
      <element name="NIF" type="sf:NIFType" />
    </sequence>
  </complexType>
  <simpleType name="Numerico4Type">
    <restriction base="string">
      <pattern value="\d{1,4}" />
    </restriction>
  </simpleType>
  <!-- Minoración de la base imponible por la concesión de cupones, bonificaciones o descuentos
  cuando solo se expide el original de la factura - Deduction of the taxable amount for the granting
  of coupons, rebates or discounts when only the original of the invoice is issued -->
  <simpleType name="CuponType">
    <restriction base="string">
      <enumeration value="S" />
      <enumeration value="N" />
    </restriction>
  </simpleType>
  <simpleType name="IndicadorRepresentanteType">
    <restriction base="string">
      <enumeration value="S" />
    </restriction>
  </simpleType>
  <simpleType name="ImpuestoType">
    <restriction base="string">
      <enumeration value="01">
        <annotation>
          <documentation xml:lang="en"> Value added tax (VAT)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="02">
        <annotation>
          <documentation xml:lang="en">Tax on Production, Services and Imports (IPSI) for Ceuta and
            Melilla</documentation>
        </annotation>
      </enumeration>
      <enumeration value="03">
        <annotation>
          <documentation xml:lang="en">Canary Islands General Indirect Tax (IGIC)</documentation>
        </annotation>
      </enumeration>
      <enumeration value="05">
        <annotation>
          <documentation xml:lang="en">Other</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>